<div class = "game-container" *ngIf="inQueue!=false">
  <div class="title">Four in a row game</div>
  <div class="turn_indicator">
    Player
    <label class="player1label" *ngIf="currentPlayer==1">blue</label>
    <label class="player2label" *ngIf="currentPlayer==2">red</label>
    turn
  </div>
    <div class = "game">
      <ng-container *ngFor="let item of [].constructor(6); let i = index">
        <div class="game-cell" *ngFor="let item of [].constructor(7); let j = index">
        <div class="dot empty" *ngIf="board[i][j]==0 && (mouseColumnPosition!=j || currentPlayer != player)" (mouseover)="onMouseOnColumn(j)"></div>
        <div class="dot empty columnHoverPlayer1 clickable" *ngIf="board[i][j]==0 && mouseColumnPosition==j && player==1 && currentPlayer == 1" (click)="columnClicked(j)" (mouseover)="onMouseOnColumn(j)" (mouseleave)="OnMouseLeaveColumn()"></div>
        <div class="dot empty columnHoverPlayer2 clickable" *ngIf="board[i][j]==0 && mouseColumnPosition==j && player==2 && currentPlayer == 2" (click)="columnClicked(j)" (mouseover)="onMouseOnColumn(j)" (mouseleave)="OnMouseLeaveColumn()"></div>
        <div class="dot player1" *ngIf="board[i][j]==1" (click)="columnClicked(j)" (mouseover)="onMouseOnColumn(j)"></div>
        <div class="dot player2" *ngIf="board[i][j]==2" (click)="columnClicked(j)" (mouseover)="onMouseOnColumn(j)"></div>
      </div>
      </ng-container>
    </div>
</div>
<div class="queue" *ngIf="inQueue==true">
  Waiting for another player
  <p class="loading"></p>
</div>
