div.game {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  width: 35vw;
  height: 30vw;
  padding-left: 30vw;
  padding-top: 3vw;
}

.game-cell {
  width: 5vw;
  height: 5vw;
  border: 0.25vw solid #333333;
  box-sizing: border-box;
  background-color: #333333;
}

* {
  padding: 0;
  margin: 0;
}

.dot {
  height: 4.5vw;
  width: 4.5vw;
  border-radius: 50%;
  display: inline-block;
}

.clickable {
    cursor: pointer;
}

.empty {
    background-color: white;
}

.player1 {
    background-color: #224488;
}

.player2 {
    background-color: #882244;
}

.title {
  text-align: left;
  padding-left: 29vw;
  font-size: 4vw;
  color: white;
}

.turn_indicator {
  text-align: left;
  padding-left: 38vw;
  font-size: 2.5vw;
  color: white;
}

.end-message {
  text-align: left;
  padding-left: 38vw;
  font-size: 2.5vw;
  color: white;
}

.player1label {
  color: #224488;
}

.player2label {
  color: #882244;
}

.columnHoverPlayer1 {
  background-color: #B6C1D8
}

.columnHoverPlayer2 {
  background-color: #D8B6C1
}

.queue {
  padding-left: 34vw;
  padding-top: 10vw;
  font-size: 2.5vw;
  color: white;
}

.loading.p {

}

.loading:after {
  content: ' .';
  animation: dots 1.5s steps(5, end) infinite;
  font-size: 5vw;
  padding-left: 14vw;
}

@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  40% {
    color: white;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  60% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 rgba(0,0,0,0);}
  80%, 100% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 white;}}
